#addTodo {
    display: flex;
    flex-direction: column;
}

#addTodoButton {
    align-self: flex-end;
    margin-top: 20px;
    padding: 8px;
    background-color: #6600ff;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    border: none;
    border-radius: 5px;
    transition: background-color 0.1s ease, transform 0.2s ease;
    cursor: pointer;
}


@media (min-width: 1025px) {
    #addTodoButton:hover {
        background-color: #ad00ff;
    }
}

@media (max-width: 1025px) {

    /* Tablet ve altı için stil */
    #addTodoButton {
        font-size: 0.6em;
        padding: 6px;
    }
}

@media (max-width: 480px) {

    /* Telefonlar için stil */
    #addTodoButton {
        font-size: 0.7em;
        padding: 8px;
    }
}

#todoInput {
    padding: 10px;
    font-size: 0.9em;
    border: none;
    border-bottom: 1px solid black;
    transition: border-color 0.3s ease;
}

#todoInput:focus {
    outline: none;
}